<%= form_for(:session, url: login_path) do |f| %>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
    
    <%= f.label :remember_me, class: "checkbox inline" do %>
    <%= check_box_tag :remember_me, 1, params[:remember_me] %>
    <% end %>

    <%= f.submit "Log in", class: "btn btn-primary" %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
<% end %>